.button{
    color: hotpink;
    top: 0;
}

.box{
    background-color: whitesmoke;
    border: purple 2px solid;
    border-radius: 2px;
    text-align: center;
    margin: 1px;
    margin-top: 50px;
    padding: 5px;
    height: 70%;
    width: 30%;
    display: inline-block;
}
.hover:hover{
            color: black;
            font-size: 50px;


}